@model CoruseThree.Models.ViewModel.ViewRigisterModel

@{
    ViewData["Title"] = "Rigister";
}

<h1>Rigister</h1>

<h4>ViewRigisterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rigisterr">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CofirmedPassword" class="control-label"></label>
                <input asp-for="CofirmedPassword" class="form-control" />
                <span asp-validation-for="CofirmedPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MoblieNumber" class="control-label"></label>
                <input asp-for="MoblieNumber" class="form-control" />
                <span asp-validation-for="MoblieNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Rigister" class="btn btn-primary" />
                <a asp-action="Login">I have Account</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
